/*global var*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300i,400,400i,500,500i,600i,700,700i&display=swap');
:root
{
      --main-white: #ffff;
      --main-heading: #4D533C;
      --sub-text: rgba(33, 56, 66, 0.6);
      --main-link: #FFD723;
      --footer-text: #B5C096;

}
*
{
    box-sizing: border-box;
}
body
{
  font-family: 'Helvetica';
  -webkit-font-smooting: antialiased;
  background: var(--main-white);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
a
{
  text-decoration: none;
}
.container
{
  
  margin:0 10%;
}
.pull-left
{
  float: left;
}
.pull-right
{
  float: right;
}
.header-block {
  width: 100%;
  height: 90vh;
  position: relative;
  background:#808d6e  url(../images/bg.png) no-repeat center center/cover;
}
.header-top
{
  float: left;
  position: absolute;
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
}
.nav-links
{
  
  float: left;
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
  right: 0;
  background: #838e70f7;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav-links.show-nav
{
   width: 100%;
   left: 0;
   z-index: 10;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.nav-toggle-btn
{
  float: right;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.nav-links ul
{
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  height: 100%;
  top: 20%;
}
.nav-links ul li
{
   margin: 30px 0;
}
.nav-links ul li a
{
    color: #fff;
    font-size: 36px;
    font-weight: 500;
}
.nav-links ul li a:hover
{
  color: var(--main-link);
  text-decoration: underline;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.close-menu
{
  position: fixed;
    right: 4%;
    top: 4%;
}
.tbl {
  width: 100%;
  height: 100%;
  display: table;
}
.tbl-cell {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.header-content
{
  width: 100%;
    color: #fff;
}
.header-content h1
{
  font-family: 'Poppins', sans-serif;
  font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 60px;
width: 612px;
line-height: 74px;
color: #FFFFFF;
}
.header-content span
{
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
}
.header-content p
{
  font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
width: 580px;
}
.btn-header
{
  background: rgba(255, 215, 35, 0.81);
  border-radius: 10px;
  width: 120px;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  margin-top: 30px;

}
.right-Container
{
   width: 100%;
   margin-left: 10%;
}
.left-Container
{
  width: 90%;
  margin-right: 10%;
  float: left;
}
.partners
{
  width: 100%;
  float: left;
  background: #FFFFFF;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;
  padding: 60px 0 54px 65px;
  margin-top: -90px;
  z-index: 2;
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 0.5fr);
  grid-gap: .5rem;
  text-align: left;

}
.about-block
{
  width:100%;
  float: left;
  padding-bottom: 150px;
  margin-bottom: 150px;
    border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
}
.two-column-grid
{
   width: 100%;
   float: left;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
}
.column
{
  flex: 0 1 38%;
}
.card-about
{
  padding: 244px 40px 0px 40px;
  background: #FFFFFF;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
  margin-top: -150px;
  width: 474px;
  float: right;
}
.card-about p
{
  font-style: italic;
font-weight: normal;
font-size: 24px;
line-height: 40px;
color: var(--main-heading);
}
.content
{
  text-align: left;
}
.content span
{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: rgba(77, 83, 60, 0.9);
}
.content h1
{
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 46px;
width: 475px;
color: var(--main-heading);
}
.content p
{
  font-style: normal;
font-weight: normal;
float: left;
font-size: 16px;
line-height: 26px;
color: rgba(33, 56, 66, 0.6);
}
.content a
{
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
text-decoration-line: underline;
color: #D4D6D4;
cursor: pointer;
}
.content a:hover
{
  color: var(--main-link);
}
.auther-name
{
  width:100%;
  float: left;
}
.auther-name .image
{
  width:35%;
  float: left;
}
.auther-name .title-card
{
    width: 65%;
    float: right;
    margin: 36px 0;
}
.auther-name .title-card h1
{
  font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 33px;
color: var(--main-heading);
margin: 0;
}
.auther-name .title-card p
{
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #152934;
}
.awsome-project
{
  width: 100%;
  float: left;
  margin-bottom:120px;
}
.awsome-project .colume:first-child
{
   width:40%;
   float: left;
}
.awsome-project .colume
{
   width:60%;
   float: left;
}
.awsome-project .colume h1
{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  width: 325px;
  color: var(--main-heading);
  margin: 0;
}
.awsome-project .colume p
{
    color: var(--sub-text);
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
width: 518px;
}
.product-idea-wrapper
{
  width: 100%;
  float: left;
  margin-bottom: 150px;
}
.product-idea-wrapper h1
{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  color: var(--main-heading);
  margin-top: 0;
  margin-bottom: 50px;
}
.product-grid
{
  display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-gap: .5rem;
    text-align: left;
    float: left;
    width: 100%;
}
.product-grid-item
{
  position: relative;
  padding-bottom: 30px;
  padding: 22px;
}
.product-grid-item h1
{
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  height: 70px;
  white-space: pre-line;
  text-transform: uppercase;
  margin: 0;
  color: var(--main-heading);
}
.product-grid-item p
{
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 26px;
color: var(--sub-text);
}
.product-grid-item a
{
  position: absolute;
  bottom: 0;
  left: 30px;
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
text-decoration-line: underline;
color: #D4D6D4;
}
.product-grid-item a:hover
{
  color: var(--main-link);
  cursor: pointer;
}
.letsdo
{
  width: 100%;
  float: left;
  padding: 70px 0;
  padding-left: 10%;
  margin-bottom: -162px;
  background: #FAFAFA;
  position: relative;
  z-index: 2;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}
.letsdo h1
{
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  color: var(--main-heading);
  margin-top: 0;
  margin-bottom: 50px;
}
.letsdo a
{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #D4D6D4;
}
.letsdo a:hover
{
  color: var(--main-link);
}
.footer
{
  width:100%;
  padding-top: 150px;
  float: left;  
  position: relative;
  background:#4F553D ;
}
.footer::after {
  content: "";
  background: #4F553D url(../images/footer-bg.png) no-repeat center center/cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;  
}
.footer-bottom
{
  width: 100%;
  float: left;
  padding: 24px 0;
  border-top: 1px solid #5D6544;
}
.footer .container {
  margin: 0 10%;
  position: relative;
  z-index: 9;
}
.footer-bottom span
{
   color: var(--footer-text);
}
.footer-middle
{
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  grid-gap: .5rem;
  text-align: left;
  float: left;
  width: 100%;
  padding: 60px 0;
  border-top: 1px solid #5D6544;
}
.footer-middle.footer-top
{
  padding-top: 100px;
  padding-bottom: 52px;
  border: none;
}
.footer-middle h2
{
  font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 38px;
text-transform: uppercase;
color: #FFFFFF;
}
.footer-middle ul
{
  padding: 0;
  list-style: none;
}
.footer-middle ul span
{
  color: var(--main-white);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.footer-middle ul li
{
  /* margin:10px 0; */
}
.footer-middle ul li a
{
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
color: #B6C197;
cursor: pointer;
}
.footer-middle ul li h1
{
  font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 38px;
color: var(--main-white);
}
.footer-middle ul:last-child li a
{
  line-height: 24px;
}
.footer-middle.footer-top ul:last-child li a
{
  line-height: 40px;
}
.footer-middle ul li ul li
{
  display: inline-block;
}
.footer-middle ul li ul li a
{
  background: #444A34;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  float: left;
  font-size: 12px;
  margin-right: 14px;
  text-align: center;
  cursor: pointer;
}
.footer-middle ul li a:hover
{
  color: var(--main-link);
}
.footer-middle ul li ul li a svg
{
  width: 16px;
  margin-top: 6px;
}
.footer-middle ul li ul li a:hover
{
   background-color: var(--main-link);
   color: #fff;
   cursor: pointer;
}
.full-container
{
  width: 100%;

}
.casestudy-grid
{
  width:100%;
  float: left;
}
.casestudy-grid-item
{
  display: grid;
  grid-template-columns: repeat(2, 50fr);
  grid-gap: 0;
  text-align: left;
  float: left;
  width: 100%;
  margin-bottom: 120px;
}
.casestudy-grid .casestudy-grid-item:nth-child(even) .tbl
{
  order: 1;
}
.casestudy-grid .casestudy-grid-item:nth-child(even) .img
{
  order: 2;
}
.casestudy-grid .img
{
  position: relative;
}
.casestudy-grid .img img
{
  width: 100%;
  float: left;
}
.casestudy-grid .casestudy-grid-item:nth-child(even) .img img
{
  float: right;
}
.casestudy-grid .casestudy-grid-item:nth-child(even) .content
{
  margin-left: 20%;
  margin-right: 16%;
}
.casestudy-grid .casestudy-grid-item .content
{
  margin-right: 20%;
  margin-left: 16%;
}
.casestudy-grid .casestudy-grid-item .content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  float: left;
  width: 100%;
  color: var(--main-heading);
}
.casestudy-grid .casestudy-grid-item  .content p {
 
  white-space: pre-line;
}
.casestudy-grid .casestudy-grid-item .testimonial-box
{
  position: absolute;
  width: 453px;
  padding: 30px;
  height: 243px;
  right: -70px;
  bottom: -70px;
  background: #FFFFFF;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
}
.casestudy-grid .casestudy-grid-item:nth-child(even)  .testimonial-box
{

  left: -70px;
  bottom: -70px;
}
.casestudy-grid .casestudy-grid-item .testimonial-box p
{
  font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #4D533C;
margin:0;
margin-bottom: 20px;
}
.testimonial-title
{
  width: 100%;
  float: left;
}
.casestudy-grid .casestudy-grid-item .testimonial-box .testimonial-img
{
  width: 60px;
  float: left;
}
.casestudy-grid .casestudy-grid-item .testimonial-box .testimonial-img img
{
  height: 46px;
  width: 46px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
}
.casestudy-grid .casestudy-grid-item .testimonial-box .testimonial-des
{
  width: calc(100% - 60px);
  float: right;
}
.casestudy-grid .casestudy-grid-item .testimonial-box .testimonial-des h1
{
  font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
margin: 0;
color: #4D533C;
}
.casestudy-grid .casestudy-grid-item .testimonial-box .testimonial-des span
{
  font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #152934;
}